html, body {
	-webkit-user-select: none;
	-moz-user-select: none;
}

::selection {
	color: transparent;
}

body {
	margin: 0;
	overflow: hidden;
}

.fit {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.app {
	overflow: hidden;
}

.bg {
	color: #ddd;
	background: #fff;
}

.panel-shadow {
	box-shadow: 0px 0px 10px #888;
}

.email, .folder, .message {
	color: black;
}

.email {
	min-height: 60px;
	font-size: 20pt;
}

.folder {
	height: 60px;
	font-size: 18px;
	font-weight: bold;
	line-height: 60px;
}

.unread-label {
	color: white;
	background-color: darkGray;
	border: 2px solid darkGray;
	border-radius: 1em;
	text-align: center;
	line-height: 20px;
	margin-top: 25%;
}

.message {
	font-size: 15pt;
}

.message-placeholder {
	background: #f9f9f9 url(../images/email-by-webos.png) no-repeat 50% 50%;
}

.item-shadow {
	box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
}

.mail-label {
	color: #333;
	line-height: 54px;
	text-align: center;
}

html {
	font-family: Prelude, Prelude Medium, Segoe UI, Arial, Helvetica, Sans-Serif;
}
