.enyo-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.enyo-image.sized {
	display: inline-block;
}
.enyo-image.contain {
	background-size: contain;
}
.enyo-image.cover {
	background-size: cover;
}