.enyo-light-panels {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
}

/* Panels container styles */

.enyo-light-panels .panels-container > * {
	display: inline-block;
	vertical-align: top;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
}

.enyo-light-panels.horizontal .panels-container {
	width: 200%;
	height: 100%;
}

.enyo-light-panels.vertical .panels-container {
	width: 100%;
	height: 200%;
}

.enyo-light-panels.horizontal .panels-container > * {
	width: 50%;
}

.enyo-light-panels.vertical .panels-container > * {
	height: 50%;
}

/* Individual panel styles */

.enyo-light-panels.horizontal.forwards .panels-container > .next,
.enyo-light-panels.horizontal.backwards .panels-container > .previous {
	left: 50%;
}

.enyo-light-panels.horizontal.backwards .panels-container > .next,
.enyo-light-panels.horizontal.forwards .panels-container > .previous {
	right: 50%;
}

.enyo-light-panels.vertical.forwards .panels-container > .next,
.enyo-light-panels.vertical.backwards .panels-container > .previous {
	top: 50%;
}

.enyo-light-panels.vertical.backwards .panels-container > .next,
.enyo-light-panels.vertical.forwards .panels-container > .previous {
	bottom: 50%;
}
