*~
*.swp
.DS_Store
Thumbs.db
/source/minify/build
/examples/3 - Making Builds/source/minify/build
/examples/3 - Making Builds/source/minify-include-enyo/build

node_modules/*
docs/out
out
lcov-report
lcov.info
