.enyo-viewlayout-leftright {

	&:not(.dragging) > .enyo-view.transitioning {
		transition-property: transform;
		will-change: transform;
	}

	> .enyo-view {
		transition-property: none;
		transform: translateX(100%);
		&.active {
			transform: translateX(0);
		}
	}

}