.message-placeholder {
    background-image: url(../images/email-by-webos.png);
    background-position: center;
    background-repeat: no-repeat;
}

.message-header {
    min-height: 200px;
    font-size: 12pt;
    background-image: url(../images/paper_page_texture.png);
}
.message {
    background-color: #f9f9f9
}

.unread-label {
    color: white;
    background-color: darkGray;
    border: 2px solid darkGray;
    border-radius: 1em;
}

.enyo-grabbutton {
    top: 0;
}

.header-label {
    color: #2d6c94;
    padding-right: 8px;
}
