/* for apps */
.enyo-document-fit {
	margin: 0;
	height: 100%;
	/*overflow: auto;*/
	overflow: hidden;
	position: relative;
	-webkit-overflow-scrolling: touch;
}

/* reset */

button {
	font-size: inherit;
	font-family: inherit;
}

/* user selection */

.enyo-unselectable {
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
}

.enyo-unselectable ::selection {
	color: transparent;
}

.enyo-selectable {
	cursor: auto;
	-webkit-user-select: text;
	-moz-user-select: text;
}

.enyo-selectable ::selection {
	background: #3297FD;
	color: #FFF;
}

/* layout */

body .enyo-fit {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

/* compositing */

.enyo-composite {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
}