.enyo-input-decorator,
.roundy-box {
	display: inline-block;
	/**/
	padding: 0.1em 0.4em 0.1em;
	border: 1px solid #eee;
	border-radius: 16px;
	/**/
	/*-webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);*/
	-moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
	/**/
	background-color: white;
}

.enyo-input-decorator {
	-webkit-transition: border linear 0.2s, box-shadow linear 0.3s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.3s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.3s;
	-o-transition: border linear 0.2s, box-shadow linear 0.3s;
	transition: border linear 0.2s, box-shadow linear 0.3s;
}

.focus,
.roundy-box:focus {
	border: 1px solid lightblue;
	/*-webkit-box-shadow: inset 1px 1px 5px rgba(0.5, 0.5, 0.8, 0.3);*/
	-moz-box-shadow: inset 1px 1px 7px rgba(127, 218, 255, 0.6);
	box-shadow: inset 1px 1px 7px rgba(127, 218, 255, 0.6);
}

.roundy-button {
	position: relative;
	cursor: pointer;
	/**/
	color: #404040;
	background-color: #CDCDCD;
	/**/
	/*margin: 2px 8px 2px 1px;*/
	padding: 0.3em 0.4em;
	border: 0;
	border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	/**/
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

.roundy-button:active {
	top: 1px;
	left: 1px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.enyo-input {
	border: 0;
	margin: 0;
	outline: none;
}

body {
	margin: 10px;
	height: auto;
	background-color: #eee;
}

.data {
	display: inline-block;
	height: 16px;
	width: 100px;
	padding: 2px;
	border: 1px dotted gray;
	background-color: #eee;
	color: gray;
	vertical-align: middle;
}

button.active, button:active {
	background-color: #F8F8F8;
	border: 2px solid white;
}
