.enyo-inline, .enyo-tool-decorator {
	display: inline-block;
}

.enyo-children-inline > *, .enyo-tool-decorator > * {
	display: inline-block;
}

.enyo-children-middle > *, .enyo-tool-decorator > * {
	vertical-align: middle;
}
