.sprite-animation-sample {
	padding: 0 20px;
	font-family: Segoe UI, Prelude Medium, Helvetica, Verdana, sans-serif;
	font-size: 16px;
}
.sprite-animation-sample .section {
	padding-top: 20px;
	color: #F49200;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 8px;
}
.sprite-animation-sample .enyo-checkbox {
	margin: 10px;
}
.sprite-animation-sample .results {
	margin: 20px 0;
	padding: 20px;
	min-height: 24px;
	border-radius: 10px;
	color: #FFF;
	background-color: #555;
}
.sprite-animation-sample .animation {
	display: inline-block;
}