/* WARNING: This is a generated file for backward-compatibility.  Most      */
/* usrs should instead modify LESS files.  If you choose to edit this CSS   */
/* directly rather than LESS files, you should make sure less.xx.yy.min.js  */
/* is commented out in your debug.html, and run deploy.sh/bat using the     */
/* '-c' flag to disable LESS compilation.  This will force the loader and   */
/* minifier to fall back to using CSS files in place of the same-name       */
/* LESS file.                                                               */

.enyo-data-list {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}
.enyo-data-list .active {
  position: relative;
  overflow: hidden;
}
.enyo-data-list .buffer {
  height: 100%;
  overflow: hidden;
}
.enyo-data-list .page {
  position: absolute;
}
.enyo-data-list.debug .page1 {
  background: #99ccff;
}
.enyo-data-list.debug .page2 {
  background: #cc99ff;
}
.enyo-data-list {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.enyo-data-list.horizontal .active {
  white-space: nowrap;
}
.enyo-data-list.horizontal .page > * {
  display: inline-block;
}
.enyo-data-grid-list .item {
  display: block;
  position: absolute !important;
}
.enyo-data-grid-list .item {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
