/* WARNING: This is a generated file for backward-compatibility.  Most      */
/* usrs should instead modify LESS files.  If you choose to edit this CSS   */
/* directly rather than LESS files, you should make sure less.xx.yy.min.js  */
/* is commented out in your debug.html, and run deploy.sh/bat using the     */
/* '-c' flag to disable LESS compilation.  This will force the loader and   */
/* minifier to fall back to using CSS files in place of the same-name       */
/* LESS file.                                                               */

.enyo-data-list {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.enyo-data-list .enyo-data-list-active {
  position: relative;
}
.enyo-data-list .enyo-data-list-active .enyo-data-list-page {
  position: absolute;
}
.enyo-data-list .enyo-data-list-buffer {
  height: 100%;
}
.enyo-data-grid-list .enyo-data-grid-list-item {
  display: block;
  position: absolute !important;
  -webkit-transition: top 300ms ease-in-out, left 300ms ease-in-out, width 300ms ease-in-out, height 300ms ease-in-out;
  -webkit-box-sizing: border-box;
}
